<div class="relative flex-1 bg-blue-500 px-3 py-10 lg:px-8 rounded-2xl mb-10">
  <div
    class="mx-auto max-w-3xl text-center text-2xl text-white font-bold md:text-3xl leading-tight"
  >
    <h2 class="text-center">
      Besoin d'un plombier près de chez vous en urgence ?
    </h2>
    <div
      class="mt-10 flex flex-col items-center justify-center space-y-5 sm:flex-row sm:gap-x-6 sm:space-y-0"
    >
      <a
        href="tel:+32472808080"
        class="w-full rounded-3xl border border-gray-900 bg-gray-900 px-7 py-3 transition-colors duration-150 ease-in-out hover:border-gray-800 hover:bg-gray-800 sm:w-auto sm:border-2"
        >Tél 0472/80.80.80</a
      >
    </div>
  </div>
</div>
