---
import { data, slugify } from "../data/locations";
---

<div
  class="absolute left-0 mt-2 w-80 rounded-xl bg-white shadow-lg py-2 invisible group-hover:visible opacity-0 group-hover:opacity-100 transition-all duration-200"
>
  {
    data.map(({ State }) => (
      <a
        href={`/plombiers-${slugify(State)}/`}
        class="block px-4 py-2 text-gray-700 hover:bg-blue-50 hover:text-blue-600"
      >
        Plombiers {State}
      </a>
    ))
  }
</div>
